name: Deploy STAGING release to GitHub Pages

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: peaceiris/actions-gh-pages@v3.14.0

      - name: Deploy staging release
        uses: peaceiris/actions-gh-pages@v6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./releases
          cname: https://zampos-desktop-stg.zamdahealth.com
